* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto";
}

.container {
	height: 100vh;
	display: grid;
	grid-template: 1fr 4fr / 1fr 4.5fr;
}

/* HEADER SECTION */

.search-bar,
.user-section {
	padding-left: 2rem;
}

.user-section,
.button-section {
	padding-bottom: 1.2rem;
}

.notification-section,
.button-section {
	padding-right: 2rem;
}
/*--------TOP BAR--------*/
.header {
	z-index: 10;
	display: grid;
	grid-template: 1fr 1fr / 1.5fr 1fr;
	-webkit-box-shadow: 2px 8px 15px 0px rgba(0, 0, 0, 0.35);
	box-shadow: 2px 8px 15px 0px rgba(0, 0, 0, 0.35);
}

.search-bar {
	grid-column: 1 / 2;
	display: flex;

	justify-content: start;
	align-items: center;
}

.search-bar img {
	height: 2rem;
	margin-right: 1rem;
}

.search-bar input {
	width: 90%;
	padding: 10px;
	border: none;
	background-color: #e2e8f0;
	border-radius: 30px;
}

.notification-section {
	grid-column: 2 / 3;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
}

.notification-section .notification-icon {
	height: 2rem;
}

.notification-section .user-picture {
	height: 4rem;
	border-radius: 50%;
}

.notification-section p {
	font-size: 25px;
	font-weight: bold;
}
/*----------BOTTOM BAR----------*/

.user-section {
	display: flex;
	align-items: center;
	gap: 20px;
}

.user-section img {
	height: 5rem;
	border-radius: 50%;
}

.user-section p {
	font-size: 15px;
	font-weight: bold;
}

.user-section span {
	font-size: 25px;
}

.button-section {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
}

.button-section button {
	padding: 15px;
	width: 120px;
	border: none;
	border-radius: 30px;
	background-color: #1992d4;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
}

.button-section button:hover {
	background-color: #156894;
	cursor: pointer;
}

.sidebar {
	background-color: #1992d4;
	grid-row: 1 / 3;
}

.content {
	background-color: #e2e8f0;
}
