* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto";
}

.container {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 0.5fr 3fr;
}

.header {
	grid-column: 2 / 3;
	display: grid;
	padding: 1rem;
}

.top-bar {
	display: grid;
	grid-template-columns: 0.5fr 2fr 0.5fr 1fr;
}

.search {
	grid-column: 1 / 3;
	display: grid;
	grid-template-columns: 0.1fr 0.5fr;
	align-items: center;
}

.search > img {
	grid-column: 1 / 2;
	height: 2rem;
	justify-self: end;
	margin-right: 1rem;
	margin-left: 1rem;
}

.search > img:hover,
.notification:hover,
.pfp:hover {
	cursor: pointer;
}

.search input {
	grid-column: 2 / 3;
	width: 35rem;
	height: 2rem;
	border-radius: 12rem;
	border: none;
	background-color: #e2e8f0;
	padding: 5px;
}

.user {
	grid-column: 3 / 5;
	display: grid;
	grid-template-columns: 0.1fr 1fr;
	align-items: center;
}

.user .notification {
	grid-column: 1 / 2;
	height: 2rem;
	justify-self: end;
	margin-right: 1rem;
	margin-left: 2rem;
}

.user-info {
	display: grid;
	grid-template-columns: 0.1fr 1fr;
	align-items: center;
}

.user-info .pfp {
	grid-column: 1 / 1;
	height: 3.5rem;
	border-radius: 50%;
	margin-right: 2rem;
	margin-left: 1rem;
}

.bottom-bar {
	display: grid;
	grid-template-columns: 4fr 2.5fr;
}

.greeting {
	grid-column: 1 / 2;
	display: grid;
	grid-template-columns: 0.2fr 1fr;
}

.greeting > img {
	grid-column: 1 / 2;
	height: 5rem;
	border-radius: 50%;
	margin-left: 1rem;
}

.greeting .text {
	grid-column: 2 / 3;
	align-self: center;
}

.text p {
	font-weight: bold;
	font-size: 15px;
}

.username {
	font-size: 25px;
}

.buttons {
	grid-column: 2 / 3;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.new,
.upload,
.share {
	justify-self: center;
	align-self: center;
	margin-top: 25px;
	padding: 1rem;
	width: 8rem;
	border: none;
	border-radius: 25px;
	background-color: #1992d4;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
}

.buttons button:hover {
	background-color: #136089;
	cursor: pointer;
}

.sidebar {
	background-color: green;
	grid-column: 1 / 2;
	grid-row: 1 / 5;
}

.content {
	background-color: blue;
}
