* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 0.8fr 3fr;
}

.header {
	background-color: red;
	grid-column: 2 / 3;
}

.sidebar {
	background-color: green;
	grid-column: 1 / 2;
	grid-row: 1 / 5;
}

.content {
	background-color: blue;
}
